@charset "UTF-8";

p {
	font-size: 12px;
}

.jumbotron p {
	font-size: 1em;
}


.navbar {
	margin: 0;
	position: absolute;
	top: 0pc;
	width: 100%;
	background-color: transparent;
	border-color: transparent;
	padding: 30px 10vw;
}

.navbar-brand {
	padding: 0px;
}

.logo-menu {
	width: 180px;
}

.landing-header {
	background-image: url(../images/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	padding: 120px 0 100px 0;
}

.titulo-header h1 {
	color: #fff;
	text-transform: uppercase;
	line-height: 1.2em;
}

.titulo-header a {
	color: #fff;
	margin: 0 20px;
	font-size: 1.2em;
}

.button-blue {
	background-color: #337ab7;
	border-radius: 10px;
	padding: 15px 20px;
	color: #fff;
}

.button-green {
	background-color: #5cb85c;
	border-radius: 10px;
	padding: 15px 20px;
}

.titulo-header p {
	color: #fff;
}

.content-center {
	margin: 30px auto 0 auto;
	text-align: center;
}

.content-center h2 {
	text-transform: uppercase;
	font-weight: 600;
}

.monos-cortados-container {
	margin-top: 40px;
	float: none;
	display: inline-block;
}

.inscripcion-section {
	margin-top: 0px;
}

.contact-section {
	margin: 30px auto 100px auto;
	text-align: center;
}

.inscribete-button {
	font-size: 1.3em;
}

.footer-bootstrap {
	background-color: #1c1c1c;
	color: #fff;
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding: 8px 0	;
}

.footer-bootstrap p {
	text-transform: uppercase;
	font-size: 1em;
}


.carousel-control.left, .carousel-control.right  {
	background-image: none;
}

.glyphicon-black {
	color: #000;
}


@media (min-width: 768px)  {

.contact-section {
	text-align: left;
}
}

@media (min-width: 922px) {

p {
	font-size: 14px;
}


}



